<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/favicon.ico">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
     <pre>Get the IP address, language and operating system for your browser</pre>
    </p>
    <a href="http://requestheader55dev.herokuapp.com/api">Get the API Json</a>
  </body>
</html>
